<table id="torrents_table" class="table table-striped table-bordered">
    <thead class="red_bg">
        <tr>
            <th>DL</th>
            <th title="name" class="sortable">Name <i></i></th>
            <th title="size" class="sortable">Size <i></i></th>
            <th title="files" class="sortable">Files <i></i></th>
            <th><i class="icon-circle-arrow-up icon-white" title="seeders"></i></th>
            <th><i class="icon-circle-arrow-down icon-white" title="leechers"></i></th>
        </tr>
    </thead>
    <tbody>
    <%= render "results" %>
    </tbody>
</table>
