<h2>STEP 1</h2>
<p>Make a torrent file using your favourite torrent client. Use <span class="monospace">http://<%= request.host_with_port %>/announce</span> as the tracker url. Do not set the private flag on.</p>

<h2>STEP 2</h2>
<p>Start seeding the newly created torrent and upload the file using the form below.</p>

<%= form_tag({:action => :upload}, :multipart => true) do |f| %>
    <%= file_field_tag 'file' %>
    <%= submit_tag 'submit' %>
<% end %>
