// Place all the styles related to the Tracker controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {margin: 0;}

@font-face {
  font-family: Arial, sans-serif;
  font-size: 1em;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1em;
  position: relative;
  height: auto !important;
  min-height: 100%;
}

.no-deco, .no-deco:hover, .no-deco:active {
  text-decoration: none;
}

h1.text {
  font-size: 3.5em;
  background-color: #660000;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.20);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.red_bg {
  color: #ddd;
  background: #9b0002; /* Old browsers */
  background: -moz-linear-gradient(top,  #9b0002 0%, #d80003 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b0002), color-stop(100%,#d80003)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #9b0002 0%,#d80003 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #9b0002 0%,#d80003 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #9b0002 0%,#d80003 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #9b0002 0%,#d80003 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b0002', endColorstr='#d80003',GradientType=0 ); /* IE6-9 */
}

header {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0.5em 0;
}

#header_container {
  width: 75%;
  margin: 0 auto;
}

#logo {
  display: inline;
  float: left;
}

#search_form {
	display: inline;
	float: right;
	margin: 1em 2em 0 0;
}

#upload_link {
  display: inline;
  float: right;
  margin-top: 1em;
}

#main_container {
  padding: 5em 0 0;
}

section#main {
  width: 75%;
  margin: 0 auto;
  margin-top: 1em;
}

#torrents_table thead tr th {
  border: none;
}

#footer_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2em 0;
}

footer {
  width: 75%;
  margin: 0 auto;
}

.monospace {
  font-family: monospace;
}

#file {
  visibility: hidden;
}
